<div class="container">
  <h1>About</h1>
  <p>This is a sample application designed to demonstrate how to use <a href="https://github.com/spreedly/spreedly-js">spreedly.js</a> to create Gateways in a <a href="https://core.spreedly.com/manual/quickstart#sign-up-and-create-an-environment">Spreedly Environment</a>. Imagine you have many customers and each one brings their own Merchant Account/Payment Gateway. With spreedly.js, we'll take care of generating the forms for all the Gateways we support, submit the secure credentials to our servers, and give you back a Gateway token that you keep for your customer to run transactions that credit their Merchant Account.</p>
  <p>It's all <a href="https://github.com/spreedly/spreedly-js">open source and on Github</a> for you to use. We also have a number of <a href="https://core.spreedly.com/manual/sample_applications">other sample applications</a> you might find useful.
</div>