<div class="container">
  <h1>Welcome!</h1>
  <p class="lead">Food carts is the best solution for managing everything you need when it comes to accepting payments with your Food Cart. We support more than 50+ different payment gateways so you can work with your favorite option. Better still, we make it easy to change gateways without losing your customer data! You worry about making the world's yummiest food and we'll take care of the payments side.</p>
</div>

<% if @cart %>
  <div class="container">
    <p>You have already created a cart. <a href="/cart">View it</a> or <a href="/delete" onclick="if (!confirm('Really?!')) return false;">delete it</a>.</p>
  </div>
<% else %>
  <div class="container">
    <h4>Create an Account</h4>
    <% if @error %>
      <p class="text-error"><%= @error %></p>
    <% end %>
    <form class="form-horizontal" action="/carts" method="POST">
      <div class="control-group">
        <label class="control-label" for="cart_name">Cart Name</label>
        <div class="controls">
          <input type="text" name="cart_name" id="cart_name" placeholder="Cart name">
        </div>
      </div>
      <div class="control-group">
        <div class="controls">
          <button type="submit" class="btn">Sell Food!</button>
        </div>
      </div>
    </form>
  </div>
<% end %>
